*.pyc
workdir/*
outputs/*
logs/*

docker/izolation*

# vim, mac os
*.sw*
.DS_Store
.*.un~
.idea

# python setup.py build/install artifacts
build
dist
pywps_demo.egg-info/

# docs build artifacts
_build/
