Flask==0.10.1
flufl.enum==4.1
functools32==3.2.3.post2
itsdangerous==0.24
Jinja2==2.7.3
jsonschema==2.5.1
lxml==3.3.3
MarkupSafe==0.18
OWSLib==0.11.2
psutil==4.3.1
pyproj==1.9.5.1
python-dateutil==2.5.3
pytz==2016.6.1
requests==2.11.1
Shapely==1.5.7
six==1.10.0
Unipath==1.1
Werkzeug==0.10.4
SQLAlchemy==1.0.15
-e git+https://github.com/geopython/pywps.git@pywps-4.0.0-rc1#egg=pywps-4.0.0-rc1
