{% extends "base.html" %} {% block title %}PyWPS-4 demo app{% endblock
%} {% block major_content%}
<br />
<h1>PyWPS-4 demo app</h1>

<p>This is a demo PyWPS server, point your WPS client to:
<p>
	<code>{{ url }}</code>
</p>
It exposesthe following processes:
<ul>
	<li><b>say_hello</b> - returns a literal string output based on
		the input.</li>
	<li><b>feature_count</b> - counts number of features in the
		uploaded GML.</li>
	<li><b>centroids</b> - returns GeoJSON with centroids of features
		in the uploaded GML.</li>
</ul>
<p></p>
<p>
	PyWPS documentation is at <a href="http://pywps.rtfd.org/"
		target="_blank">pywps.rtfd.org</a>; source code and issue tracking at
	<a href="https://github.com/geopython/pywps" target="_blank">
		github.com/geopython/pywps</a>. Code for this app is at <a
		href="https://github.com/geopython/pywps-demo/blob/master/demo.py"
		target="_blank">
		github.com/geopython/pywps-demo/blob/master/demo.py</a>.
</p>



{% endblock %}
