<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PyWPS-4 REST</title>
    <link rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <style>
    table {
      width: 90%;
    }
    table, th, td {
      border: 1px solid black;
      text-align:center; 
      vertical-align:middle;
    }
    td {
      width: 20%;
      height: 100px;
      padding: 12px;
    }
    div, div > *{
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    </style>
  </head>

  <body>
    <div>
      <h1>PyWPS-4 REST interface</h1>

      <p>This is a HOWTO for the REST interface of PyWPS.</p>
      <table>
        <tr>
          <th></th>
          <th>GET</th>
          <th>PUT</th>
          <th>POST</th>
          <th>DELETE</th>
        </tr>
        <tr>
          <td><code>{{ rest_url_config }}</code></td>
          <td>Returns a list of all server instance configuration</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td><code>{{ rest_url_config_id }}</code></td>
          <td>Returns the configuration of serverid server instance</td>
          <td>Changes specific configuration of serverid server instance.<br/>(Passed data must be JSON formatted and submitted with Header Content-Type application/json)</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td><code>{{ rest_url_server }}</code></td>
          <td>Returns a list of server instances containing information about the host, port, pid and process status</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td><code>{{ rest_url_server_id }}</code></td>
          <td>Returns the host, port, pid and process status of serverid server instance.</td>
          <td>Creates and starts a new serverid server instances specified by the passed data.<br/>(Passed data must be JSON formatted and submitted with Header Content-Type application/json)</td>
          <td>-</td>
          <td>Stops and removes serverid server instances from currently available server instances.</td>
        </tr>
        <tr>
          <td><code>{{ rest_url_server_processes }}</code></td>
          <td>Get list of all the processes activated on the specified server</td>
          <td>-</td>
          <td>-</td>
          <td>Deactivate/Remove all the processes from the specified server</td>
        </tr>
        <tr>
          <td><code>{{ rest_url_server_process_id }}</code></td>
          <td>Activate the specified process for the specified server</td>
          <td>-</td>
          <td>-</td>
          <td>Deactivate/Remove the specified server process</td>
        </tr>
        <tr>
          <td><code>{{ rest_url_server_process_name }}</code></td>
          <td>Activate the specified process for the specified server</td>
          <td>-</td>
          <td>-</td>
          <td>Deactivate/Remove the specified server process</td>
        </tr>
        <tr>
          <td><code>{{ rest_url_server_pause }}</code></td>
          <td>Pauses the server instance specified by serverid.</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td><code>{{ rest_url_server_resume }}</code></td>
          <td>Resumes the server instance specified by serverid.</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td><code>{{ rest_url_pywps_processes }}</code></td>
          <td>Returns a JSON formated list with all the PyWPS processes available.</td>
          <td>-</td>
          <td>-</td>
          <td>Completely removes all the PyWPS processes available. (Use with Caution!! The files will be gone for good!)</td>
        </tr>
        <tr>
          <td><code>{{ rest_url_pywps_process }}</code></td>
          <td>Returns the source code of the specified PyWPS process.</td>
          <td>Updates the specified PyWPS process. This will fail if the process does not exist.</td>
          <td>Creates or updates the specified PyWPS process.</td>
          <td>Deletes the specified PyWPS process.</td>
        </tr>
      </table>

      <p>
        PyWPS documentation is at
        <a href="http://pywps.rtfd.org/">pywps.rtfd.org</a>;
        source code and issue tracking at
        <a href="https://github.com/jachym/pywps-4/">
        github.com/jachym/pywps-4</a>. Code for this app is at
        <a href="https://github.com/jachym/pywps-4/tree/master/demo">
        github.com/jachym/pywps-4/tree/master/demo</a>.
      </p>
    </div>
  </body>
</html>
